@media screen and (min-width: 700px) {
    .hero {
        height: 624px;
        min-height: unset;
    }

    .hero--projects {
        height: 754px;
    }

    .hero--projects__container {
        padding-bottom: 200px;
    }

    .hero--projects__body {
        padding-left: 0;
        margin-left: 40px;
        margin-top: 80px;
    }

    .hero__header {
        display: flex !important;
    }

    .hero__header--mobile {
        display: none !important;
    }


    .hero__body__title {
        text-align: center;
        font-size: 56px;
    }

    .hero__body__buttons {
        flex-direction: row;
        margin: 0 auto;
    }

    .hero--projects__body__buttons {
        margin: 0 auto;
        margin-left: 0;
    }

    .row {
        grid-template-columns: 55% 45%;
        grid-template-rows: 100%;
        padding-left: var(--section-spacing);
    }

    .row, .row--reverse {
        display: grid;
        grid-template-columns: 45% 55%;
        padding: 250px 0;
    }

    .form-container {
        grid-template-columns: 50% 1fr;
    }

    .footer__row {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
        padding-bottom: 100px;
    }

    .footer__column:first-child {
        grid-column: unset;
    }
}

@media screen and (max-width: 700px) {
    .hide-on-mobile {
        display: none;
    }
}

/* .hide-on-mobile {
    transform: translateX(-50%) !important;
} */