/* The Modal (background) */
.modal-form {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: -10%;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
  }

  
  /* Modal Content/Box */
  .modal-form__content {
        background-color: var(--status-green);
        color: var(--off-white);
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 80%; /* Could be more or less, depending on screen size */
        position: relative;
        border-radius: 10px;
    }
    
.modal-form__content--danger {
    background: var(--ekko-red);
    color: var(--off-white)
}

.modal-form__text {
    font-size: 20px;
    line-height: 32px;
    font-weight: lighter;
    font-family: WhitneyLight;
    z-index: 100;
    max-width: 78%;
}
  
  /* The Close Button */
  .modal-form__close {
    font-size: 28px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    right: 20px;
    cursor: pointer;
    position: absolute;
    color: var(--off-white)
  }
  
  .modal-form__close:hover,
  .modal-form__close:focus {
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
  }