.hero--projects {
    height: 756px;
    background: linear-gradient(90deg,#b473f5,#e292aa);
}

.hero--projects__body {
    text-align: left;
    align-items: flex-start;
    /* padding-top: 0; */
    padding-left: var(--section-spacing);
    padding-top: 0;
}

.hero--projects__header__icon {
    cursor: pointer;
}

.hero--projects__body__text {
    max-width: 400px;
}

.hero--projects__header__icon {
    color: white !important;
    fill: white;
    height: 25px;
    z-index: 500;
}

.hero--projects__body__buttons {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.hero--projects__images__video {
    width: 100vw;
    height: 100%;
    transform: scale(1.9) translateY(6%);
    /* transform-origin: center center; */
}

.hero__images__video-alt {
    width: 250px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50px;
}

.text-center {
    text-align: center;
}

.container {
    padding-top: var(--section-spacing);
}

@media screen and (max-width: 700px) {
    .hero--projects__body {
        padding-top: var(--section-spacing) !important;
        padding-left: 0;
        padding-top: 130px !important;
    }

    .hero--projects__body__title {
        font-size: 52px;
    }

    .hero--projects__body__text {
        font-size: 24px;
    }

    .hero--projects__body__text {
        font-size: 24px;
    }
}