* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Whitney;
}

:root {
    --brand: #7289da;
    --brand-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
    --greyple: #99aab5;
    --dark-not-black: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #00b0f4;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #23272a;
    --not-quite-black-rgb: 35,39,42;
    --black: #000;
    --ekko-red: #de2761;
    --page-max-width: 1260px;
    --num-grid-columns: 4;
    --page-gutter: 24px;
    --section-spacing: 56px;
}

.hero {
    height: 624px;
    background-color: #2A5EE8;
    color: var(--white);
    position: relative;
}

.hero__container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.hero__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px 20px;
}

.hero__header__title {
    font-size: 18px;
}

.hero__header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero__header__nav__li {
    list-style-type: none;
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
}

.hero__header__nav__li:hover {
    text-decoration: underline;
}

.hero__header__btn-lang {
    border: none;
    border-radius: 40px;
    padding: 7px 16px;
    background-color: var(--white);
    color: #2A5EE8;
    text-decoration: none;
    font-size: 14px;
    font-weight: light;
}


.hero__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    text-align: center;
}

.hero__body__title {
    font-size: 56px;
    line-height: 120%;
    z-index: 100;
}

.hero__body__text {
    font-size: 20px;
    line-height: 32px;
    margin-top: 40px;
    font-weight: lighter;
    z-index: 100;
    max-width: 78%;
}

.hero__body__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 24px;
    z-index: 100;
}

.hero__body__buttons__btn {
    background-color:white;
    color: var(--dark-not-black);
    padding: 16px 32px;
    margin-right: 24px;
    border-radius: 28px;
    text-decoration: none;
    font-size: 20px;
    font-weight: light;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__body__buttons__btn:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .4);
    color: var(--brand);
    transition: .2s;
}

.hero__body__buttons__btn svg {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.hero__body__buttons__btn--dark {
    background-color: var(--not-quite-black);
    color: var(--white);
    padding: 16px 32px;
    margin-right: 24px;
    border-radius: 28px;
    text-decoration: none;
}

.hero__body__buttons__btn--dark:hover {
    background-color: var(--dark-not-black);
    color: var(--off-white)
}

.hero__images {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    z-index: 50;
    overflow: hidden;
}

.hero__images__main-image {
    position: absolute;
    width: 850px;
    height: auto;
    object-fit: cover;  
}

.hero__images__main-image:first-child {
    right: -10%;
    bottom: 0;
    z-index: 50;
}

.hero__images__main-image:nth-child(2) {
    left: -10%;
    bottom: 0;
    z-index: 50;
}

.hero__images__bg-1 {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 500px;
    object-fit: cover;
}

.hero__images__boat-1 {
    /* transform: translateX(100vw); */
    /* transition: transform 2s; */
    position: absolute !important;
    left: -200px;
    top: 0;
    animation: floatRight1 80s linear infinite;
    z-index: 20;
}

.hero__images__boat-2 {
    position: absolute !important;
    left: 50%;
    top: 40px;
    animation: floatRight1 180s linear infinite;
    z-index: 20;
}

.hero__images__boat-3 {
    position: absolute !important;
    left: 30%;
    bottom: 200px;
    animation: floatRight1 180s linear infinite;
    z-index: 20;
}

.hero__images__balloon {
    position: absolute !important;
    left: 40%;
    bottom: -500px;
    animation: floatUp 150s linear infinite;
    z-index: 10;
}

@keyframes floatRight1 {
    to { transform: translateX(110vw) }
}

@keyframes floatUp {
    to { transform: translateY(-100vh) }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%
}

.row {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    padding: var(--section-spacing) 0;
    padding: 150px 0;

}

.row--reverse {
    grid-template-columns: 45% 55%;
    padding: 250px 0;
}

img.row-item {
    object-fit: conver;
    width: 100%;
}

.row-item {
    align-self: center;
}


.row-item--text {
    padding-left: var(--section-spacing)
}

.row-item a {
    margin-top: 25px;
    width: 75%;
}

.row__title {
    font-size: 48px;
}

.row__text {
    margin-top: 24px;
    font-size: 20px;
    line-height: 32px;
    color: black;
    font-weight: lighter;
}

.skills {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.skills__logo {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.column {
    padding: 150px 0;
}

.form-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 1fr;
}

.form {
    padding-right: 5%;
}

.form-container__img {
    object-fit: cover;
    width: 100%;
}

.fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form__label {
    font-size: 12px;
    line-height: 2;
}

.form__input {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid grey;
    line-height: 2;
    padding-left: 10px;
    color: rgba(0, 0, 0, .8);
}

.form button {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
}


/* <h2 class="row__title">Contact me</h2>
<p class="row__text">Feel free to contact me any time, I will be happy to meet you.</p>
<form ass="form" action="/contact" method="POST">
    <h3 class="form__title">Contact me</h3>
    <span class="form__text">Feel free to send me a message</span>
    <fieldset class="fieldset">
        <label class="form__label" for="name">FULLNAME</label>
        <input class="form__input" type="text" id="name" placeholder="ex: John Doe">
    </fieldset>
    <fieldset class="fieldset">
        <label class="form__label" for="name">SUBJECT</label>
        <input class="form__input" type="text" id="subject" placeholder="ex: Remote Frontend Job">
    </fieldset>
    <fieldset class="fieldset">
        <label class="form__label" for="name">DESCRIPTION</label>
        <input class="form__input" type="text" id="content" placeholder="ex: whatever you wan to tell me...">
    </fieldset>
    <button class="form__button" type="submit">Send</button>
</form> */